In [22]:
import pandas as pd
import numpy as np
import openpyxl
pd.options.display.float_format = '{:.5f}'.format

## Ⅰ. 2023년 현재 기준 대학 진학 인구 및 대학 분석

### 1. 지역별로 현재 대학 진학이 가능한 연령(20세)을 확인하자.

In [21]:
df_age_18 = pd.read_csv('./data/age_18_by_city.csv', index_col=0, encoding='cp949')
df_age_18 # 2023년01월_계_연령구간인구수 = 18세

,2023년01월_계_총인구수,2023년01월_계_연령구간인구수,2023년01월_계_18세,2023년01월_남_총인구수,2023년01월_남_연령구간인구수,2023년01월_남_18세,2023년01월_여_총인구수,2023년01월_여_연령구간인구수,2023년01월_여_18세
행정구역,,,,,,,,,
전국,"51,430,018","468,291","468,291","25,631,538","242,177","242,177","25,798,480","226,114","226,114"
서울특별시,"9,424,873","77,852","77,852","4,567,739","39,916","39,916","4,857,134","37,936","37,936"
부산광역시,"3,316,107","26,446","26,446","1,618,749","13,600","13,600","1,697,358","12,846","12,846"
대구광역시,"2,362,880","21,967","21,967","1,162,217","11,555","11,555","1,200,663","10,412","10,412"
인천광역시,"2,969,502","26,793","26,793","1,486,300","13,754","13,754","1,483,202","13,039","13,039"
광주광역시,"1,429,816","15,251","15,251","706,724","7,895","7,895","723,092","7,356","7,356"
대전광역시,"1,445,806","14,602","14,602","721,037","7,584","7,584","724,769","7,018","7,018"
울산광역시,"1,110,074","10,626","10,626","570,113","5,633","5,633","539,961","4,993","4,993"
세종특별자치시,"384,496","4,070","4,070","191,769","2,007","2,007","192,727","2,063","2,063"
경기도,"13,596,091","129,441","129,441","6,842,226","66,257","66,257","6,753,865","63,184","63,184"
강원도,"1,535,373","13,764","13,764","772,297","7,194","7,194","763,076","6,570","6,570"
충청북도,"1,594,459","14,535","14,535","810,740","7,628","7,628","783,719","6,907","6,907"
충청남도,"2,122,913","19,758","19,758","1,086,686","10,197","10,197","1,036,227","9,561","9,561"
전라북도,"1,768,229","17,199","17,199","879,922","8,878","8,878","888,307","8,321","8,321"
전라남도,"1,816,707","16,253","16,253","914,811","8,455","8,455","901,896","7,798","7,798"
경상북도,"2,597,527","21,863","21,863","1,310,583","11,608","11,608","1,286,944","10,255","10,255"
경상남도,"3,277,672","31,218","31,218","1,650,300","16,517","16,517","1,627,372","14,701","14,701"
제주특별자치도,"677,493","6,653","6,653","339,325","3,499","3,499","338,168","3,154","3,154"

In [ ]:
# 그래프1) 지역별 18세 막대그래프

In [ ]:
# 그래프2) 지역별 18세 지도 버블차트

### 2. 전국 대학의 분포를 확인하자.

In [28]:
df_univ = pd.read_csv('./data/university_list_2022.csv', index_col=0, encoding='UTF8')
df_univ

,학교코드,학교명,본분교,학제,지역,설립구분,관련법령,법인명,학교상태,중문학교명,영문학교명,주소,영문주소,중문주소,우편번호,학교개교일,학교홈페이지,총장(대학원장)명,학교대표번호,학교대표팩스번호
학교구분,,,,,,,,,,,,,,,,,,,,
대학,1,강릉원주대학교,본교,대학교,강원,국립,고등교육법,해당없음,기존,国立江陵原州大学,Gangneung Wonju National University,"강원도 강릉시 죽헌길 7 (지변동, 강릉원주대학교)","7, Jukheon-gil, Gangneung-si, Gangwon-do, Repu...","7, Jukheon-gil, Gangneung-si, Gangwon-do, Repu...",25457.00000,1979-03-01,www.gwnu.ac.kr,반선섭,033-642-7001,033-643-7110
대학,2,강릉원주대학교,제2캠퍼스,대학교,강원,국립,고등교육법,해당없음,기존,国立江陵原州大学,Gangneung Wonju National University,"강원도 원주시 흥업면 남원로 150 (흥업리, 강릉원주대학교원주캠퍼스)","150, Namwon-ro, Heungeop-myeon, Wonju-si, Gang...","150, Namwon-ro, Heungeop-myeon, Wonju-si, Gang...",26403.00000,2007-03-01,www.gwnu.ac.kr,반선섭,033-760-8020,033-760-8029
대학,3,강원대학교,본교,대학교,강원,국립,고등교육법,해당없음,기존,江原大学校,Kangwon National University,"강원도 춘천시 강원대학길 1 (효자동, 강원대학교)","1, Gangwondaehak-gil, Chuncheon-si, Gangwon-do...","1, Gangwondaehak-gil, Chuncheon-si, Gangwon-do...",24341.00000,1970-03-01,www.kangwon.ac.kr/,김헌영,033-250-6114,033-251-9556
대학,4,강원대학교,제2캠퍼스,대학교,강원,국립,고등교육법,해당없음,기존,江原大学校,Kangwon National University,"강원도 삼척시 중앙로 346 (교동, 강원대학교삼척캠퍼스)","346, Jungang-ro, Samcheok-si, Gangwon-do, Repu...","346, Jungang-ro, Samcheok-si, Gangwon-do, Repu...",25913.00000,2006-03-01,www.kangwon.ac.kr/,김헌영,033-570-6114,033-572-8620
대학,5,경북대학교,본교,대학교,대구,국립,고등교육법,해당없음,기존,庆北大学校,Kyungpook National University,"대구광역시 북구 대학로 80 (산격동, 경북대학교)","80, Daehak-ro, Buk-gu, Daegu, Republic of Korea","80, Daehak-ro, Buk-gu, Daegu, Republic of Korea",41566.00000,1946-05-28,www.knu.ac.kr,홍원화,053-950-5114,053-950-2149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
대학원,3161,백석대학교 일반대학원,본교,일반대학원,서울,사립,고등교육법,백석대학교,신설,白石大學敎 白石大学研究所,Graduate School of Baekseok University,충청남도 천안시 동남구 백석대학로 1(안서동),"1, Baekseokdaehak-ro, Dongnam-gu, Cheonan-si, ...","1, Baekseokdaehak-ro, Dongnam-gu, Cheonan-si, ...",31065.00000,2022-03-02,NaN,장종현,02-520-0715,02-520-0720
대학원,3162,을지대학교 보건복지대학원,제3캠퍼스,특수대학원,경기,사립,고등교육법,을지학원,신설,保健福祉研究生院,"Eulji University, Graduate School of Health an...",경기도 의정부시 동일로 712(금오동),"712, Dongil-ro, Uijeongbu-si, Gyeonggi-do","712, Dongil-ro, Uijeongbu-si, Gyeonggi-do",11759.00000,2002-10-30,www.eulji.ac.kr,김규호,031-951-3621,031-951-3913
전문대학,3163,한국폴리텍 VII 대학 동부산캠퍼스,본교,기능대학,부산,사립,근로자직업능력개발법,한국폴리텍,신설,韩国产业技术大学 东釜山校园,Korea Polytechnics Dongbusan Campus,부산광역시 기장군 정관읍 산단4로 2-69,"2-69, Sandan 4-ro, Jeonggwan-eup, Gijang-gun, ...","2-69, Sandan 4-ro, Jeonggwan-eup, Gijang-gun, ...",46027.00000,1972-09-01,www.kopo.ac.kr/dongbusan,황선구,051-609-6000,051-728-5586
대학원,3164,영남대학교 경영행정대학원,본교,특수대학원,대구,사립,고등교육법,영남학원,신설,영남대학교,GRADUATE SCHOOL OF BUSINESS ADMINISTRATION & P...,대구광역시 남구 현충로 170(대명동),"170, Hyeonchung-ro, Nam-gu, Daegu","170, Hyeonchung-ro, Nam-gu, Daegu",42415.00000,2022-03-01,NaN,김상현,053)810-4912,053)621-5346
대학원,3165,한국에너지공과대학교 대학원,본교,일반대학원,전남,특별법법인,한국에너지공과대학교법,학교법인 한국전력공과대학교,신설,韓國能源工程大學,Korea Insitute of Energy Technology,전라남도 나주시 혁신로 200(빛가람동),"200, Hyeoksin-ro, Naju-si, Jeollanam-do","200, Hyeoksin-ro, Naju-si, Jeollanam-do",58330.00000,2022-03-02,kentech.ac.kr,박성주,061-330-9626,061-333-9627

In [ ]:
# 그래프3) 전국 대학교의 위치정보(위도, 경도)를 지도에 점으로 표시

In [ ]:
# 그래프4) 시도 별 대학 개수 막대그래프

In [ ]:
# 그래프5) 전국 대학교의 위치정보(위도, 경도) + 지역별 18세 지도 버블차트

## Ⅱ. 신생아 수 추이 및 향후 예상 대학 충원율 분석

### 1. 전국의 신생아 수 추이 및 예상 신행아 수를 확인하자.

In [ ]:
# 전국의 신생아 수

In [31]:
df_newborn = pd.read_csv('./data/maternity_data.csv', index_col=0, encoding='cp949')
df_newborn #출생아수(명)

      출생아수(명)  자연증가건수(명)  조출생률(천명당)  자연증가율(천명당)  합계출산율(명)   출생성비(명)
시점
1970  1006645     748056   31.20000    23.20000   4.53000 109.50000
1971  1024773     787245   31.20000    23.90000   4.54000 109.00000
1972   952780     742709   28.40000    22.20000   4.12000 109.50000
1973   965521     698061   28.30000    20.50000   4.07000 104.60000
1974   922823     674016   26.60000    19.40000   3.77000 109.40000
1975   874030     603373   24.80000    17.10000   3.43000 112.40000
1976   796331     529474   22.20000    14.80000   3.00000 110.70000
1977   825339     576085   22.70000    15.80000   2.99000 104.20000
1978   750728     498430   20.30000    13.50000   2.64000 111.30000
1979   862669     622683   23.00000    16.60000   2.90000 106.40000
1980   862835     585551   22.60000    15.40000   2.82000 105.30000
1981   867409     629928   22.40000    16.30000   2.57000 107.10000
1982   848312     602545   21.60000    15.30000   2.39000 106.80000
1983   769155     514592   19.30000    12.90000   2.06000 107.30000
1984   674793     438348   16.70000    10.80000   1.74000 108.30000
1985   655489     415071   16.10000    10.20000   1.66000 109.40000
1986   636019     396763   15.40000     9.60000   1.58000 111.70000
1987   623831     380327   15.00000     9.10000   1.53000 108.80000
1988   633092     397313   15.10000     9.50000   1.55000 113.20000
1989   639431     402613   15.10000     9.50000   1.56000 111.80000
1990   649738     408122   15.20000     9.50000   1.57000 116.50000
1991   709275     467005   16.40000    10.80000   1.71000 112.40000
1992   730678     494516   16.70000    11.30000   1.76000 113.60000
1993   715826     481569   16.00000    10.80000   1.65400 115.30000
1994   721185     478746   16.00000    10.60000   1.65600 115.20000
1995   715020     472182   15.70000    10.30000   1.63400 113.20000
1996   691226     450077   15.00000     9.80000   1.57400 111.50000
1997   675394     430701   14.50000     9.30000   1.53700 108.20000
1998   641594     395769   13.70000     8.40000   1.46400 110.10000
1999   620668     372934   13.20000     7.90000   1.42500 109.50000
2000   640089     391349   13.50000     8.20000   1.48000 110.10000
2001   559934     316121   11.70000     6.60000   1.30900 109.00000
2002   496911     249387   10.30000     5.20000   1.17800 109.90000
2003   495036     248573   10.20000     5.10000   1.19100 108.60000
2004   476958     230738    9.80000     4.80000   1.16400 108.20000
2005   438707     192833    9.00000     4.00000   1.08500 107.80000
2006   451759     207597    9.20000     4.20000   1.13200 107.60000
2007   496822     250340   10.10000     5.10000   1.25900 106.20000
2008   465892     219779    9.40000     4.40000   1.19200 106.40000
2009   444849     197907    9.00000     4.00000   1.14900 106.40000
2010   470171     214766    9.40000     4.30000   1.22600 106.90000
2011   471265     213869    9.40000     4.30000   1.24400 105.70000
2012   484550     217329    9.60000     4.30000   1.29700 105.70000
2013   436455     170198    8.60000     3.40000   1.18700 105.30000
2014   435435     167743    8.60000     3.30000   1.20500 105.30000
2015   438420     162525    8.60000     3.20000   1.23900 105.30000
2016   406243     125416    7.90000     2.50000   1.17200 105.00000
2017   357771      72237    7.00000     1.40000   1.05200 106.30000
2018   326822      28002    6.40000     0.50000   0.97700 105.40000
2019   302676       7566    5.90000     0.10000   0.91800 105.50000
2020   272337     -32611    5.30000    -0.60000   0.83700 104.80000
2021   260562     -57118    5.10000    -1.10000   0.80800 105.10000

In [32]:
df_newborn_future = pd.read_csv('./data/newborn_future.csv', index_col=0, encoding='cp949')
df_newborn_future # 통계청 예측 연도별 출생아수(천명)

      출생아수 (천명)   합계출산율
시점
1970       1007 4.53000
1971       1025 4.54000
1972        953 4.12000
1973        966 4.07000
1974        923 3.77000
...         ...     ...
2066        195 1.21000
2067        196 1.21000
2068        197 1.21000
2069        197 1.21000
2070        196 1.21000

[101 rows x 2 columns]

In [ ]:
# 그래프5) 전국 1980년~2070년 신생아 수 꺾은선 그래프

In [ ]:
#

## Ⅲ. 2023년 현재 기준 전국 대학 분석

### 1. 전국 신입생 충원율

In [9]:
df_enroll = pd.read_csv('./data/university_enrollment_2023.csv', index_col=0, encoding='cp949')
df_enroll

,학교종류,설립구분,지역,상태,학교,입학정원(A),모집인원계,정원내(B),정원외,지원자계,정원내(C),정원외.1,입학자계,정원내(D)남,정원내(D)여,정원외남,정원외여,정원내 신입생 충원율(%) (D/B) × 100,경쟁률(C/B)
기준연도,,,,,,,,,,,,,,,,,,,
2022,대학교,사립,경남,기존,가야대학교(김해),460,490,463,27,"2,286","2,142",144,383,179,178,6,20,77.1,4.6
2022,대학교,사립,경기,기존,가천대학교,"4,081","4,694","4,083",611,"66,469","62,951","3,518","4,675","2,124","1,959",312,280,100.0,15.4
2022,대학교,사립,강원,기존,가톨릭관동대학교,"1,824","1,957","1,825",132,"7,556","6,926",630,"1,563",858,598,41,66,79.8,3.8
2022,대학교,사립,충북,기존,가톨릭꽃동네대학교,108,115,108,7,535,513,22,108,41,62,2,3,95.4,4.8
2022,대학교,사립,경기,기존,가톨릭대학교,"1,574","1,792","1,576",216,"21,304","20,077","1,227","1,770",697,876,79,118,99.8,12.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022,산업대학,사립,전북,기존,호원대학교,"1,132","1,474","1,095",379,"11,878","11,125",753,"1,376",487,539,148,202,93.7,10.2
2022,대학교,사립,서울,기존,홍익대학교,"2,421","2,879","2,422",457,"41,971","39,180","2,791","2,876","1,314","1,105",167,290,99.9,16.2
2022,대학교,사립,세종,기존,홍익대학교 _제2캠퍼스,"1,299","1,412","1,302",110,"10,593","10,189",404,"1,383",644,653,44,42,99.6,7.8
2022,대학교,사립,경기,기존,화성의과학대학교,246,266,253,13,"1,127","1,064",63,71,29,37,3,2,26.1,4.2
2022,사이버대학(대학),사립,부산,기존,화신사이버대학교,430,"1,121",430,691,883,709,174,544,163,267,60,54,100.0,1.6

### 2. 장학금 현황

In [16]:
df_scholarship = pd.read_csv('./data/university_scholarship_2022.csv', index_col=0, encoding='cp949')
df_scholarship

,설립별,지역별,교외장학금 소계(원),교외장학금 국가,교외장학금 지방자치단체,교외장학금 사설및기타,교내장학금 소계(원),교내장학금 성적우수장학금,교내장학금 저소득층장학금,교내장학금 근로장학금,교내장학금 재난장학금,교내장학금 교직원장학금,교내장학금 기타장학금,총계(원)
학교명,,,,,,,,,,,,,,
ICT폴리텍대학,사립,경기,368872500,219407500,0,149465000,82715000.00000,28500000,48492500,0,0,0,5722500,451587500
가야대학교(김해),사립,경남,4995635065,4957301385,7315680,31018000,2285214810.00000,674255020,915679450,129785340,0,35822000,529673000,7280849875
가천대학교,사립,경기,35109669872,34484846547,101976165,522847160,28256078762.00000,6294783100,8068027560,1480963771,10139300,176458600,12225706431,63365748634
가톨릭관동대학교,사립,강원,16159991032,15525791002,478532550,155667480,6660115923.00000,2922916230,906426550,210252628,115200000,156439000,2348881515,22820106955
가톨릭꽃동네대학교,사립,충북,1468923590,1382093430,1352160,85478000,605438779.00000,80527500,229202000,122970012,0,6618000,166121267,2074362369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
호산대학교,사립,경북,5107035203,5094396643,4938560,7700000,1930323602.00000,238839340,4064760,22629312,334580,9237920,1655217690,7037358805
호서대학교,사립,충남,25062148720,24078287690,613109030,370752000,16088791360.00000,4655425100,4008123640,1507796110,0,126488000,5790958510,41150940080
호원대학교,사립,전북,14773426820,14643067510,77136810,53222500,7202190410.00000,1387375600,91608200,197757260,2347250,104038000,5419064100,21975617230
홍익대학교,사립,서울,30316105747,29511872017,59140180,745093550,38420665679.00000,16187508600,8290929680,4322694654,3841030000,121504000,5656998745,68736771426
화신사이버대학교,사립,부산,3335479744,3335479744,0,0,542509254.00000,0,128005000,5445836,0,66108000,342950418,3877988998

In [17]:
df_scholarship.columns.tolist()

['설립별',
 '지역별',
 '교외장학금 소계(원)',
 '교외장학금 국가',
 '교외장학금 지방자치단체',
 '교외장학금 사설및기타',
 '교내장학금 소계(원)',
 '교내장학금 성적우수장학금',
 '교내장학금 저소득층장학금',
 '교내장학금 근로장학금',
 '교내장학금 재난장학금',
 '교내장학금 교직원장학금',
 '교내장학금 기타장학금',
 '총계(원)']

###  3. 우수대학

### 4. 각 지표를 반영한 대학 랭킹과 검증

## Ⅳ. 2040년 기준 위험 대학 리스트

### 1. 전국 기준 하위 40% 로 위기에 처한 대학 리스트

### 2. 지역 기준 하위 40%로 위기에 처한 대학 리스트