<a href="https://colab.research.google.com/github/seyeon-shijuan/birth-rate-to-universities-visualization/blob/master/notebook/individual_notebooks/SeYoung_univ_pernum_rate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
표7) 지역별 2022년 대학 정원 및 총 정원 pandas dataframe 표

In [5]:
#!sudo apt-get install -y fonts-nanum
#!sudo fc-cache -fv
#!rm ~/.cache/matplotlib -rf

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import font_manager,rc
plt.rc('font', family='NanumBarunGothic')
df = pd.read_csv("https://raw.githubusercontent.com/seyeon-shijuan/birth-rate-to-universities-visualization/master/data/university_enrollment_2023.csv",encoding="cp949",thousands = ',' )


df

,기준연도,학교종류,설립구분,지역,상태,학교,입학정원(A),모집인원계,정원내(B),정원외,지원자계,정원내(C),정원외.1,입학자계,정원내(D)남,정원내(D)여,정원외남,정원외여,정원내 신입생 충원율(%) (D/B) × 100,경쟁률(C/B)
0,2022,대학교,사립,경남,기존,가야대학교(김해),460,490,463,27,2286,2142,144,383,179,178,6,20,77.1,4.6
1,2022,대학교,사립,경기,기존,가천대학교,4081,4694,4083,611,66469,62951,3518,4675,2124,1959,312,280,100.0,15.4
2,2022,대학교,사립,강원,기존,가톨릭관동대학교,1824,1957,1825,132,7556,6926,630,1563,858,598,41,66,79.8,3.8
3,2022,대학교,사립,충북,기존,가톨릭꽃동네대학교,108,115,108,7,535,513,22,108,41,62,2,3,95.4,4.8
4,2022,대학교,사립,경기,기존,가톨릭대학교,1574,1792,1576,216,21304,20077,1227,1770,697,876,79,118,99.8,12.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,2022,산업대학,사립,전북,기존,호원대학교,1132,1474,1095,379,11878,11125,753,1376,487,539,148,202,93.7,10.2
240,2022,대학교,사립,서울,기존,홍익대학교,2421,2879,2422,457,41971,39180,2791,2876,1314,1105,167,290,99.9,16.2
241,2022,대학교,사립,세종,기존,홍익대학교 _제2캠퍼스,1299,1412,1302,110,10593,10189,404,1383,644,653,44,42,99.6,7.8
242,2022,대학교,사립,경기,기존,화성의과학대학교,246,266,253,13,1127,1064,63,71,29,37,3,2,26.1,4.2
243,2022,사이버대학(대학),사립,부산,기존,화신사이버대학교,430,1121,430,691,883,709,174,544,163,267,60,54,100.0,1.6

In [41]:
dfc=df.columns
dfc

Index(['기준연도', '학교종류', '설립구분', '지역', '상태', '학교', '입학정원(A)', '모집인원계', '정원내(B)',
       '정원외', '지원자계', '정원내(C)', '정원외.1', '입학자계', '정원내(D)남', '정원내(D)여', '정원외남',
       '정원외여', '정원내 신입생 충원율(%) (D/B) × 100', '경쟁률(C/B)'],
      dtype='object')

In [43]:
dfr=df[["지역","모집인원계","입학정원(A)","정원내(B)","지원자계","정원내(C)"]]

dfr

     지역  모집인원계  입학정원(A)  정원내(B)   지원자계  정원내(C)
0    경남    490      460     463   2286    2142
1    경기   4694     4081    4083  66469   62951
2    강원   1957     1824    1825   7556    6926
3    충북    115      108     108    535     513
4    경기   1792     1574    1576  21304   20077
..   ..    ...      ...     ...    ...     ...
239  전북   1474     1132    1095  11878   11125
240  서울   2879     2421    2422  41971   39180
241  세종   1412     1299    1302  10593   10189
242  경기    266      246     253   1127    1064
243  부산   1121      430     430    883     709

[244 rows x 6 columns]

In [47]:
dfsum=dfr.groupby("지역").sum()

In [18]:
dfper=df[["지역","정원내 신입생 충원율(%) (D/B) × 100",'경쟁률(C/B)']]
dfper

     지역  정원내 신입생 충원율(%) (D/B) × 100  경쟁률(C/B)
0    경남                        77.1       4.6
1    경기                       100.0      15.4
2    강원                        79.8       3.8
3    충북                        95.4       4.8
4    경기                        99.8      12.7
..   ..                         ...       ...
239  전북                        93.7      10.2
240  서울                        99.9      16.2
241  세종                        99.6       7.8
242  경기                        26.1       4.2
243  부산                       100.0       1.6

[244 rows x 3 columns]

In [49]:
dfmean=dfper.groupby("지역").mean()

In [52]:
dfcom=pd.merge(dfsum,dfmean,"inner","지역")

In [53]:
dfcom

,모집인원계,입학정원(A),정원내(B),지원자계,정원내(C),정원내 신입생 충원율(%) (D/B) × 100,경쟁률(C/B)
지역,,,,,,,
강원,16809,15584,15552,95807,90628,91.591667,5.883333
경기,45253,38663,38699,427382,404386,90.737838,8.075676
경남,13429,12258,12298,69247,65640,82.530000,4.750000
경북,31267,26276,26219,139118,131402,86.694737,4.136842
광주,14971,13870,13906,87106,83040,99.118182,5.781818
대구,10886,9852,9861,93430,88025,100.000000,9.800000
대전,24494,19112,18871,129980,122892,90.092308,5.984615
부산,37078,30837,30867,220760,209989,91.706250,5.737500
서울,205944,151729,152002,1133691,1053344,91.917857,9.826786
세종,3090,2788,2795,29024,27984,75.666667,6.766667
울산,3430,3148,3154,20708,19536,100.400000,9.500000
인천,7825,6941,6949,79259,75582,97.950000,6.650000
전남,9256,8198,8235,43516,40771,82.554545,6.218182
전북,26115,16542,16537,94776,88723,93.145455,4.800000
제주,2940,2545,2549,17289,16578,57.950000,4.000000
충남,32214,28255,28288,206230,194649,92.322222,6.077778
충북,17537,16051,16044,116215,110080,90.553846,5.884615

 그래프8) 2022년 대학 정원 대비 신생아가 대학 진학 연령(20세)가 되었을 경우 예상 대학 충원율
> 고려해야할 사항: 사망률,예상 대학 모집정원, 재수 및 조기 진학의 경우? <진학률이 필요할까?